<%-layout('./partials/boilerplate')%>
<%-include('./partials/profilePageTop')%>
<div class="container row mt-3">
    <div class="col-4 border row about-options">
        <h3><strong>About</strong></h3>
       <span class="mt-2"> Overview</span>
       <span class="mt-2">Work and Education</span>
       <span class="mt-2">Places Lived</span>
       <span class="mt-2">Contact and Basic Info</span>
       <span class="mt-2">Family and Relationships</span>
       <span class="mt-2">Details About You</span>
       <span class="mt-2">Life Events</span>
    </div>
    <div class="col border row about-overview">
        <span class="mt-2">Add a Workplace</span>
       <span class="mt-2">Add a Highschool</span>
       <span class="mt-2">Add a College</span>
       <span class="mt-2">Add a Current City</span>
       <span class="mt-2">Add a Hometown</span>
       <span class="mt-2">Add a Relationship Status</span>
    </div>
    <div class="col border row about-overview">
        <span class="mt-2">Add a Workplace</span>
       <span class="mt-2">Add a Highschool</span>
       <span class="mt-2">Add a College</span>
       <span class="mt-2">Add a Current City</span>
       <span class="mt-2">Add a Hometown</span>
       <span class="mt-2">Add a Relationship Status</span>
    </div>
    <div class="col border row about-overview">
        <span class="mt-2">Add a Workplace</span>
       <span class="mt-2">Add a Highschool</span>
       <span class="mt-2">Add a College</span>
       <span class="mt-2">Add a Current City</span>
       <span class="mt-2">Add a Hometown</span>
       <span class="mt-2">Add a Relationship Status</span>
    </div>
    <div class="col border row about-overview">
        <span class="mt-2">Add a Workplace</span>
       <span class="mt-2">Add a Highschool</span>
       <span class="mt-2">Add a College</span>
       <span class="mt-2">Add a Current City</span>
       <span class="mt-2">Add a Hometown</span>
       <span class="mt-2">Add a Relationship Status</span>
    </div>
    <div class="col border row about-overview">
        <span class="mt-2">Add a Workplace</span>
       <span class="mt-2">Add a Highschool</span>
       <span class="mt-2">Add a College</span>
       <span class="mt-2">Add a Current City</span>
       <span class="mt-2">Add a Hometown</span>
       <span class="mt-2">Add a Relationship Status</span>
    </div>
    <div class="col border row about-overview">
        <span class="mt-2">Add a Workplace</span>
       <span class="mt-2">Add a Highschool</span>
       <span class="mt-2">Add a College</span>
       <span class="mt-2">Add a Current City</span>
       <span class="mt-2">Add a Hometown</span>
       <span class="mt-2">Add a Relationship Status</span>
    </div>
    <div class="col border row about-overview">
        <span class="mt-2">Add a Workplace</span>
       <span class="mt-2">Add a Highschool</span>
       <span class="mt-2">Add a College</span>
       <span class="mt-2">Add a Current City</span>
       <span class="mt-2">Add a Hometown</span>
       <span class="mt-2">Add a Relationship Status</span>
    </div>
</div>